QMainWindow {
    background-color: #ffffff;
}
QPushButton {
    background-color: #f0f0f0;
    color: #000000;
}
QLabel {
    color: #000000;
}
QLabel#label {
    color: #ff0000;
}
QListWidget {
    background-color: #f0f0f0;
    color: #000000;
}
QLineEdit {
    background-color: #f0f0f0;
    color: #000000;
    border-radius: 15px;
    border: 2px solid rgb(55, 55, 55);
    padding-left: 10px;
    padding-right: 10px;
}
